.image {
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 0, 0.8), 10, 0, 0, 0);
}

.imageBlue {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.8), 10, 0, 0, 0);
}

.card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
    -fx-padding: 10px;
    -fx-alignment: center;
}

.card .text {
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}